.mainCart {
  transition: all;
  transition-duration: 0.25s;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 1px;

  overflow-y: auto;
  overflow-x: hidden;
  width: auto;
  height: auto;
  max-width: 250px;
}

.btnContainer {
  display: flex;
  margin: 15px;
  width: auto;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}
.amountCart {
  width: 15px;
  color: white;
  text-align: center;
  font-family: "exo";
  border-radius: 50%;
  background-color: #dcb73b;
  position: absolute;
  margin-block-start: auto;
  margin-left: 30px;
  margin-bottom: 30px;
}

.icon {
  width: auto;
  height: auto;
  margin-right: 2px;
  font-size: 35px;
}

.btnCart {
  cursor: pointer;
  float: left;
  background-color: #fffefea6;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 10px 10px 26px -4px rgba(0, 0, 0, 0.65);
}
