.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  border: solid white;
  padding-bottom: 200px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  padding: 50px;
  height: auto;
  min-height: 500px;
  border: solid white;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
