.main {
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    font-size: x-large;
  }
  .select {
    border-radius: 0.4rem;
    width: 400px;
    height: 30px;
    font-size: 20px;
    margin: 10px;
  }
}
